.root-CategoryPage { 
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 100%;
    background-color: green;    
}

.main-CategoryPage{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100%;
    background-color: cyan;
}

.posts-CategoryPage {
    display: flex;
    flex-direction: column;    
    background-color: red; 
    overflow-y: scroll;     
}

.post-CategoryPage {
    display: flex;    
}

img {
    border-radius: 1mm;
    margin: 1mm;
    width: 150px;
    height: 150px;
}

