.root-categoryPage { 
    display: flex; 
    flex: 1;  
    height: 100%;
    width: 100%;  
}

.main-categoryPage{
    display: flex;
    flex-direction: column;
    
}


.listComponent {
    width: '100%';
    max-width: 360;
    background-color: green;
    position: 'relative';
    overflow: 'auto';
    max-Height: 300;  
}

.ul {
    background-color: 'inherit';
    padding: 0;
}

.listSection {
    background-color: 'inherit';
}

