.signUpCard{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 80%;
    background-color: greenyellow;
}

.signUpCardContent{
    width: 98%;
}

.signUpCardActions{
    width: 98%;
}