* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  display: block;
  width: 100%;
  height: 100vh;
  background: #fafafa;  
}

.Header {
  display: flex;  
  width: 100%;
  background-color: transparent;
  flex-direction: column;
}
  
.Footer{
  display: block;  
  background-color: transparent;
  width: 100%;
}

a{
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover, a:active {
  color: gray;
 text-decoration: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
